<head>
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">

            <!-- Html Attribute: https://www.w3schools.com/html/html_attributes.asp
            v-bind:dynamically bind an attribute to an expression
            shorthand :src, :alt, :disabled, :href-->
            <div class="product-image">
                <!-- <img v-bind:src="image"> 
                instead of using image and change it using updateProduct(varient.varientImage), we can change image using computed property-->
                <img v-bind:src="image">
            </div>

            <div class="product-info">
                <!-- {{ }} is the expression -->
                <h1>{{ title }}</h1>
                <h2>{{ description }}</h2>

                <!-- Conditionally Rendering v-if and v-show directive
                v-if is conditionally add and remove element in the dom
                on contrary v-show is not removing and adding element in the dom
                it is just toggoling between and hide and show element into dom-->
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory<= 10 && inventory > 0">Almost Sold</p>
                <p v-else>Out of Stock</p>

                <!--List Rendering v-for directive-->
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <!--Style Binding-->
                <div v-for="(varient, index) in varients" 
                :key="varient.varientId"
                class="color-box"
                :style="{ backgroundColor: varient.varientColor}"
                v-on:mouseover="updateProduct(index)"> 
                </div>
                
                <p v-if="inventory > 10 || inventory <= 10 && inventory > 0">
                    Available Sizes:
                    <ul>
                        <li v-for="size in sizes">{{ size }}</li>
                    </ul>
                </p>
                <a v-bind:href="link" target="_blank">More products</a>
                <br>

                <!--Event Handling e.g: @click, v-on:mouseover, @submit, @keyup.enter-->
                <!--Class Binding: https://codepen.io/GreggPollack/pen/YBmqaX-->
                <button v-on:click="addToCart"
                :class="{ disabledButton: inventory == 0 }">Add to Cart</button>
                <button @click="decrementFromCart">Decrement</button>
                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>
            </div>
        </div>

    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>
